.LoadMoreBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: rgb(131, 31, 237);
    color: whitesmoke;
    padding: 8px 4px;
    margin-bottom: 15px;
}

.LoadMoreBtn:hover,
.LoadMoreBtn:focus {
    background-color: rgb(189, 137, 245);
    outline: none;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    border-color: transparent;
}